.AlertContainer {
  position: relative;
  z-index: 3;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(143, 143, 143, 0.377);
  .Alert {
    border-radius: 20px;
    background: rgb(255, 255, 255);
    border: 1px solid gray;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 160px;
  }
}
